// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

.module-game {
  .promotion {
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #000;
    display: none;
    padding: 5px;
    position: absolute;
    transform: translateY(-100%);
    z-index: 100;

    &.is-active {
      display: block;
    }

    .wrapper {
      height: 50px;
      width: 200px;
    }

    .col {
      height: 100%;
      width: 25%;
    }
  }

  .board {
    border-collapse: separate;
    border: 10px solid #000;
    position: relative;
    min-height: 320px;
    min-width: 320px;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;

    .rank:nth-child(odd) .file:nth-child(even),
    .rank:nth-child(even) .file:nth-child(odd) {
      background-color: #ccc;
    }

    .file {
      border: 1px solid #000;
      padding: 0;
      position: relative;
      width: 12.5%;

      &:after {
        content:'';
        display:block;
        padding-bottom:100%;
      }
    }

    .chessman {
      position: absolute;
    }
  }

  .chessman {
    background-image: url("game-sprite.svg");
    background-size: 600%;
    cursor: pointer;
    height: 100%;
    transition: .25s;
    width: 100%;
    z-index: 50;

    &.is-dragging {
      transition: none;
      z-index: 100;
    }

    &.white {
      &[data-piece-type="King"] {
        background-position: 0 0;
      }

      &[data-piece-type="Queen"] {
        background-position: 20% 0;
      }

      &[data-piece-type="Bishop"] {
        background-position: 40% 0;
      }

      &[data-piece-type="Knight"] {
       background-position: 60% 0;
      }

      &[data-piece-type="Rook"] {
        background-position: 80% 0;
      }

      &[data-piece-type="Pawn"] {
        background-position: 100% 0;
      }
    }

    &.black {
      &[data-piece-type="King"] {
        background-position: 0 100%;
      }

      &[data-piece-type="Queen"] {
        background-position: 20% 100%;
      }

      &[data-piece-type="Bishop"] {
        background-position: 40% 100%;
      }

      &[data-piece-type="Knight"] {
        background-position: 60% 100%;
      }

      &[data-piece-type="Rook"] {
        background-position: 80% 100%;
      }

     &[data-piece-type="Pawn"] {
        background-position: 100% 100%;
      }
    }
  }
}
